{% extends "base.html" %}

{% block head %}<title>Создание</title>{% endblock %}

{% block body %}
    <form method="post" class="container">
        <div class="row">
            <div class="col text-center"><h2>Создание теста</h2></div>
        </div>
        <br><br><br>
        {{ form.csrf_token() }}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-4">{{ form.title.label }}</div>
            <div class="col-md-4">{{ form.title() }}</div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-4">{{ form.category.label }}</div>
            <div class="col-md-4">{{ form.category() }}</div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-4">{{ form.count.label() }}</div>
            <div class="col-md-4">{{ form.count() }}</div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-4">{{ form.description.label() }}</div>
            <div class="col-md-4">{{ form.description() }}</div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-4">{{ form.type.label() }}</div>
            <div class="col-md-4">{{ form.type() }}</div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6">{{ form.submit() }}</div>
            <div class="col-3"></div>
        </div>
    </form>
{% endblock %}