{% extends "base.html" %}

{% block head %}<title>Создание вопроса</title>{% endblock %}

{% block body %}

    <form method="post" class="container">

        {{ form_common.csrf_token() }}
        {{ form_radio.csrf_token() }}
        {{ form_checkbox.csrf_token() }}
        {{ form_submit.csrf_token() }}

        {% for type in types %}
                {% if type == "обычный" %}
                    {% for elem in form_common.common %}
                        {{ elem.label }}{{ elem() }}
                    {% endfor %}
                {% elif type == "выбор правильного ответа" %}
                    выбор ответа
                {% elif type == "выбор нескольких правильных ответов" %}
                    выбор нескольких
                {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col">{{ form_submit.submit(class="btn btn-primary w-100") }}</div>
        </div>
    </form>

{% endblock %}