{% extends "base_login.html" %}

{% block head %}<title>Регистрация</title>{% endblock %}

{% block body %}

    <div class="row rowBg align-items-center justify-content-center">
        <div class="col-6" style="margin-top: 50px;">
            <form action="/check_data/reg" method="post" class="login_form container">

                <div class="row">
                    <div class="col"><h1 class="text-center">Регистрация</h1></div>
                </div>
                <br>
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-md-2">{{ form.username.label }}</div>
                    <div class="col-md-4">{{ form.username(class="form-control") }}</div>
                    <div class="col-3"></div>

                    {% for error in form.username.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-md-2"> {{ form.login.label }}</div>
                    <div class="col-md-4">{{ form.login(class="form-control", type="email") }}</div>
                    <div class="col-3"></div>

                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-md-2"> {{ form.password.label }}</div>
                    <div class="col-md-4">{{ form.password(class="form-control", type="password") }}</div>
                    <div class="col-3"></div>

                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <br>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">{{ form.submit(type="submit", class="btn btn-primary w-100") }}</div>
                    <div class="col-3"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col text-center warn">
                        <h5>{{ _error }}</h5>
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}