{% extends "base.html" %}

{% block head %}<title>Личный кабинет</title>{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6 text-center">
                <h3>Процент правильных ответов: {{ percent }}%</h3>
            </div>
            <div class="col-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-4 text-center"><h3>Список ваших тестов:</h3></div>
            <div class="col-4"></div>
        </div>
        <br>
        <div class="list-group col-md-9 mx-auto">
            {% for test in lst %}
                  <a href="#" class="list-group-item list-group-item-action cell">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ test["title"] }}</h5>
                      <small>{{ test["category"] }}</small>
                    </div>
                    <p class="mb-1">Описание: {{ test["description"] }}</p>
                    <small>Количество вопросов: {{ test["questions"] }}</small>
                  </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}